extends ./layout.jade

block title
  title Home

block content
       center 
            table(bgcolor="#32A0B9" width="80%" style="border-top-color: #210A02;border-bottom-color: #210A02")
                tr
                    td(colspan="9" style="font-family:  Georgia, serif;color:white;")
                        center 
                            b 
                                font(size="6") Employee Information
                        br
                tr
                    th(nowrap)
                        font(style="font-family:  Georgia, serif;") Employee Id
                    th(nowrap)
                        font(style="font-family:  Georgia, serif;") Employee Name
                    th
                        font(style="font-family:  Georgia, serif;") Gender
                    th(nowrap)
                        font(style="font-family:  Georgia, serif;") Date of Birth
                    th(nowrap)
                        font(style="font-family:  Georgia, serif;") Primary Email
                    th(nowrap)
                        font(style="font-family:  Georgia, serif;") Secondary Email
                    th(nowrap)
                        font(style="font-family:  Georgia, serif;") Phone Number
                    th(nowrap)
                        font(style="font-family:  Georgia, serif;") Skill Set
                    th(nowrap)
                        font(style="font-family:  Georgia, serif;") Total Experience Years,Months
                tr
                    td 
                        br
                each item in result
                    tr 
                        td(nowrap)
                            font(style="font-family:  Georgia, serif;color:white")
                                center=item.emp_id
                        td(nowrap)
                            font(style="font-family:  Georgia, serif;color:white")
                                center=item.emp_name
                        td
                            font(style="font-family:  Georgia, serif;color:white")
                                center=item.emp_gen
                        td(nowrap)
                            font(style="font-family:  Georgia, serif;color:white")
                                center=item.dob
                        td(nowrap)
                            font(style="font-family:  Georgia, serif;color:white")
                                center=item.p_email
                        td(nowrap)
                            font(style="font-family:  Georgia, serif;color:white")
                                center=item.s_email
                        td(nowrap)
                            font(style="font-family:  Georgia, serif;color:white")
                                center=item.phone_number
                        td(nowrap)
                            font(style="font-family:  Georgia, serif;color:white")
                                center=item.skills
                        td(nowrap)
                            font(style="font-family:  Georgia, serif;color:white")
                                center=item.tot_exp_yr
                        td(nowrap)
                            font(style="font-family:  Georgia, serif;color:white")
                                center=item.tot_exp_mon

                                td(nowrap)
                                    font(style="font-family:  Georgia, serif;color:white")
                                        img(src='/images/'+item.image_name, alt="Image File" ,height="90px" , width="90px" ,position="fixed")
                    tr
                        td 
                            br
                tr
                    td(colspan="9")
                        center
                            form(action="/searchInfo", method="get")
                                 p: button(type="submit" style="font-family:  Georgia, serif;color:#32A0B9;") 
                                    b Search
                                    
                        center
                            form(action="/", method="get")
                                p: button(type="submit" style="font-family:  Georgia, serif;color:#32A0B9;") 
                                    b Home